[submodule "lib/googletest"]
	path = lib/googletest
	url = https://chromium.googlesource.com/external/googletest
[submodule "lib/benchmark"]
	path = lib/benchmark
	url = https://github.com/google/benchmark.git
