appnope (0.1.0)
decorator (4.0.4)
gnureadline (6.3.3)
ipython (4.0.0)
ipython-genutils (0.1.0)
nose-parameterized (0.5.0)
nose2 (0.5.0)
numpy (1.10.0.post2)
path.py (8.1.2)
pexpect (4.0.1)
pickleshare (0.5)
pip (7.1.2)
pkginfo (1.2.1)
ptyprocess (0.5)
requests (2.8.1)
requests-toolbelt (0.4.0)
setuptools (18.2)
simplegeneric (0.8.1)
six (1.10.0)
traitlets (4.0.0)
twine (1.6.3)
wheel (0.24.0)
